.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.yarnrc
node_modules
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
*.vsix
literate/*.literate
literate/*.html
*.literate
*.html
out/extension.js
