body {
    background-color: antiquewhite;
    color: black;
}

div.codefragment {
    background-color: transparent;
    color: black;
}

div.codefragment div + div {
    margin-top: 0em;
    padding-top: 0em;
    color: black;
}

div.codefragment pre {
    font-family: monospace;
    font-size: 1em;
    color: black;
}

div.fragmentname {
    font-family: monospace;
    font-size: 1em;
    color: black;
}

span.fragmentuse {
    font-style: italic;
    color: black;
}
div.code {
    margin-top: 0em;
    padding-top: 0em;
    color: black;
}

div.code pre {
    margin-top: 0em;
    padding-top: 0em;
    background-color: transparent;
    color: black;
}

code {
    margin-top: 0em;
    padding-top: 0em;
    color: black;
}

code div {
    margin-top: 0em;
    padding-top: 0em;
    color: black;
}

.hljs-keyword,
.hljs-built_in,
.hljs-type,
.hljs-literal,
.hljs-number,
.hljs-operator,
.hljs-punctuation,
.hljs-regexp,
.hljs-string,
.hljs-subst,
.hljs-symbol,
.hljs-class,
.hljs-function,
.hljs-variable,
.hljs-params,
.hljs-comment,
.hljs-title,
.hljs-meta,
.hljs-meta-keyword,
.hljs-meta-string,
.hljs-section,
.hljs-tag,
.hljs-name,
.hljs-builtin-name,
.hljs-attr,
.hljs-attribute,
.hljs-bullet,
.hljs-code,
.hljs-emphasis,
.hljs-strong,
.hljs-formula,
.hljs-link,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-template-tag,
.hljs-template-variable,
.hljs-addition,
.hljs-deletion
{
    color: black;
}